<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://cdn.tailwindcss.com"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>

</head>
<body>
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">SafeRide</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" href="/home">Home</a>
      <a class="mr-5 hover:text-white" href="/FrontPage">video</a>
      <a class="mr-5 hover:text-white" href="/webcam">live webcam</a>
    </nav>
  </div>
</header>

<!--HERO SECTION-->

                                        <div class="flex justify-center ">
                                            <div class="flex flex-col justify-center">

                                                <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
                                                    <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
                                                        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Upload Video for Analysis</h1>
                                                        <div class="text-xl font-semibold text-gray-400 ">
                                                            Upload your video here for comprehensive analysis. Our advanced gun detection technology swiftly identifies firearms, empowering proactive security measures in various environments.
                                                        </div>
                                                        <div class="md:text-lg"><form method = 'POST' enctype="multipart/form-data" style="align-content: center; text-align: center;display: flex;  " >
                                                            {{form.hidden_tag()}}
        {{form.file(class_="custom-file-input")}}
                                                                <button type="submit" name="favorite" value="x"
                                                                class="p-1 m-2 rounded-2xl text-white bg-blue-500 px-4 font-semibold  hover:bg-blue-900 hover:trandform ease-in-out duration-300">
                                                                Submit </button></form>
                                                            </div>
                                                    </div>
                                                    <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden" class="col-sm ">
                                                        <img src="{{ url_for('video') }}"   alt="Upload video" class="h-full w-full" >
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


     <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
</body>
</html>




